.slider-w{
    width: 75%;
    margin: auto;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
    font-weight: 600;
    padding-top: 30px;
}
.heading:hover{
    color: #4285f4;
}
.mt{
    margin-top: 40px;
}
.card-slider{
    background-color: #fff;
    border: #000 solid;
    height: 350px;
    color: black;
    border-radius: 12px;
}
.card-img{
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 224px;
}
.image{
    height: 176px;
    width: 176px;
    border-radius: 9999px;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
}
.name{
    font-size: x-large;
    line-height: 2;
    font-weight: 600;
    color: #4285f4;
}
.tlink:link{
    text-decoration: none;
    color: #4285f4;
}
.tlink:visited{
    text-decoration: none;
    color: #4285f4;
}
.tlink:active{
    text-decoration: none;
    color: #4285f4;
}
.tlink:hover{
    color: #ea4335;
    cursor: pointer;
}
.designation{
    font-size: large;
    font-style: italic;
    color: #34a853;
}
.subpost{
    font-style:oblique;
    color: #fbbc05;
}

.slick-slide > div{
    margin:0 10px;
}

.dark .slider-w{
    color: #fff;
}
.dark .card-slider{
    background-color: #4286f43d;
    border: #fff solid;
}
.dark .name{
    color: #ea4335;
}
.dark .tlink:link{
    text-decoration: none;
    color: #ea4335;
}
.dark .tlink:visited{
    color: #ea4335;
}
.dark .tlink:active{
    color: #ea4335;
}
.dark .tlink:hover{
    color: #4285f4;
}
.dark .heading{
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.dark .heading:hover{
    color: #ea4335;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4285f4, 0 0 40px #4285f4, 0 0 50px #4285f4, 0 0 60px #4285f4, 0 0 70px #4285f4;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ea4335, 0 0 40px #ea4335, 0 0 50px #ea4335, 0 0 60px #ea4335, 0 0 70px #ea4335, 0 0 80px #ea4335;
    }
  }