.slider-w{
    width: 75%;
    margin: auto;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
    font-weight: 600;
    padding-top: 30px;
}
.heading:hover{
    color: #4285f4;
}
.mt{
    margin-top: 40px;
}
.card-slider{
    background-color: #fff;
    /* border: #000 solid; */
    height: 350px;
    color: black;
    /* border-radius: 12px; */
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
}
.image{
    height: 260px;
    width: 220px;
    /* border-radius: 9999px; */
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2px; */
    /* padding: 2px; */
}
.name{
    font-size: 25px;
    /* line-height: 2; */
    font-weight: 600;
    color: #4285f4;
}
.tlink:link{
    text-decoration: none;
    color: #4285f4;
}
.tlink:visited{
    text-decoration: none;
    color: #4285f4;
}
.tlink:active{
    text-decoration: none;
    color: #4285f4;
}
.tlink:hover{
    color: #ea4335;
    cursor: pointer;
}
.designation{
    font-size: 15px;
    font-style: italic;
    color: #34a853;
}
.subpost{
    font-size: 18px;
    font-style:oblique;
    color: #fbbc05;
}

.slick-slide > div{
    margin:0 10px;
}

.dark .slider-w{
    color: #fff;
}
.dark .name{
    color: #ea4335;
}
.dark .tlink:link{
    text-decoration: none;
    color: #ea4335;
}
.dark .tlink:visited{
    color: #ea4335;
}
.dark .tlink:active{
    color: #ea4335;
}
.dark .tlink:hover{
    color: #4285f4;
}
.dark .heading{
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.dark .heading:hover{
    color: #ea4335;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #4285f4, 0 0 20px #4285f4, 0 0 25px #4285f4, 0 0 30px #4285f4, 0 0 35px #4285f4;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ea4335, 0 0 20px #ea4335, 0 0 25px #ea4335, 0 0 30px #ea4335, 0 0 35px #ea4335, 0 0 40px #ea4335;
    }
  }